numpy
pandas
matplotlib
seaborn
scikit-learn
imbalanced-learn
xgboost
lightgbm
gdown
scipy
PyDrive


Note aggiuntive
PyDrive è una libreria utile per interagire con Google Drive in ambienti locali, ma non è necessaria se si esegue il codice direttamente su Google Colab.